@model SpotifyRecordsApp.Models.Rankings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rankings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Songs.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Songs.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
